.header {
  width: 100%;
  background-color: #0E0424;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header-logo {
  width: 130px;
}

/* Desktop Nav */
.header-nav {
  display: flex;
  gap: 40px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  font-family: inter;
  transition: 0.2s;
}

.nav-link:hover {
  color: #1EB8FA;
}

/* Hamburger Icon (hidden on desktop) */
.mobile-menu-icon {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

/* Mobile Dropdown */
.mobile-nav {
  position: absolute;
  top: 80px;
  right: 0;
  width: 100%;
  background-color: #0E0424;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  border-top: 1px solid #1EB8FA20;
}

.mobile-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 0;
  transition: 0.2s;
}

.mobile-link:hover {
  color: #1EB8FA;
}

/* -------------------- RESPONSIVE -------------------- */

@media (max-width: 900px) {
  .header-nav {
    display: none; /* hide desktop nav */
  }

  .mobile-menu-icon {
    display: block; /* show hamburger */
  }

  .header {
    padding: 20px 25px;
  }
}

@media (max-width: 500px) {
  .header-logo {
    width: 110px;
  }

  .mobile-link {
    font-size: 16px;
  }
}
